body {
    background-image: url("./media/background/uam1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

h1 {
    color: #000000;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 10vw;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

.explosion div {
    width: 100vw;
}
.explosion img {
    width: 13.5%;
}

.emoji {
    height: 40vh;
}

.audiobullshit {
    display: flex;
    align-items: center;
}